.body {
  background-color: #EBF5FB;
  margin: 0;
  text-align: center;
  color: #40514E;
}

/*##############TOP CONTAINER#######################*/
.top-container {
  padding: 20px;
  text-align: center;
  background-color: #D4EFDF;
  position: relative;
}

.profile-intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}

h1 {
  padding: 20px;
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  line-height: 1;
  color: #66BFBF;
}


h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin: 0 auto 0  auto;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

hr {
  width:3%;
  border-top: dotted 6px;
  margin: 100px auto 100px auto;
  color: #798B8B;
}

/*IMAGES SECTION ######### IMAGES SECTION  ########## IMAGES SECTION*/

.mountain {

}

.top-cloud {
  position: absolute;
  left: 400px;
  top: 300px;
}
.bottom-cloud {
  position: absolute;
  right:380px;
  top: 60px;
}

.profile-image {
  width: 15%;
}


.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


/*CPARAGRAPHS ####### PARAGRAPHS       ###############PARAGRAPHS*/
.profile {
  color: #40514E;
  margin: 50px auto 50px auto;
}

.skills {
  margin: 100px auto 100px auto;
}

.chilli-paragraph {
  text-align: left;
}


.contact-me {
  line-height: 2;
}

.contact-me-paragraph {
  padding-bottom: 20px;
  margin: 40 auto 60 auto;
}

/*####################BOTTOM CONTAINER#############################*/


/*BUTTON CONTAINER ########## BUTTON container*/

.btn {
   background: #78DFBE;
   background-image: -webkit-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -moz-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -ms-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -o-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -webkit-gradient(to bottom, #78DFBE, #1EA6D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
   width: 255px;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn {
   background: #78DFBE;
   background-image: -webkit-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -moz-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -ms-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -o-linear-gradient(top, #78DFBE, #1EA6D0);
   background-image: -webkit-gradient(to bottom, #78DFBE, #1EA6D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Helvetica;
   width: 165px;
   font-size: 25px;
   font-weight: 100;
   padding: 29px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3DF6D3);
   background-image: -moz-linear-gradient(top, #1E62D0, #3DF6D3);
   background-image: -ms-linear-gradient(top, #1E62D0, #3DF6D3);
   background-image: -o-linear-gradient(top, #1E62D0, #3DF6D3);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3DF6D3);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


/*BOTTOM CONTAINER ########### BOTTOM CONTAINER*/

.bottom-container {
  margin-top: 60px;
  background-color: #66BFBF;
  text-align: center;
  padding:50px 0 20px;
}

.footer-link {
  color: #3EA080;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 10px 20px 10px 20px;
}

a:hover {
  color: #4AE6AE;
}

.copyright {
  color: #F5FBFB;
  font-size: 0.75rem;
  padding: 20px 0 20px 0;
}
