.body {
  background-color: #EBF5FB;
}



.div_1 {
  background-color: #D4EFDF;
  height: 100px;
  padding: 10px;
  margin-left: 0px;
  margin-top: 0px;
}

.div_2 {
  background-color: red;
  width: 200px;
  height: 200px;
}

.div_3 {
  background-color: green;
  width: 200px;
  height: 200px;
}

.div_4 {
  background-color: violet;
  width: 200px;
  height: 200px;
}
