.body {
  background-color: #EBF5FB;
  margin: 0;
}


.top-container {
  padding: 20px;
  text-align: center;
  background-color: #D4EFDF;
  position: relative;
}

.h1 {
  padding: 20px;
  margin: 0;
}

.top-cloud {
  position: absolute;
  left: 50px;
}
.bottom-cloud {
  position: absolute;
  right:75px;
}


.middle-container {
  background-color: yellow;
  width: 100px;
  height: 100px;
}


.bottom-container {
  background-color: blue;
  width: 100px;
  height: 100px;
}
